@import '~/node_modules/bootstrap/scss/bootstrap.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.3rem;
    color: $riverBed;
}

.site-container{
    max-width: 1100px;
    margin: 0 auto;
}

p{
    line-height: 2.2rem;
}

h2{
    font-size: 3rem;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: initial;
}

// icons
.fa-facebook-square, .fa-twitter-square, .fa-instagram-square, .fa-youtube-square{
    font-size: 2rem;
    margin-right: 0.8rem;
}

.fa-facebook-square{
    color: #3C5998;
}

.fa-twitter-square{
    color: #54ACEE;
}

.fa-youtube-square{
    color: #CD201F;
}
.fa-instagram-square{
    color:#3F729B ;
}

.fa-phone-flip, .fa-location-dot, .fa-circle-chevron-right{
    margin-right: 1rem;
    color: $pelorous;
}


.fa-circle-chevron-right{
    font-size: 1.2rem;
}

.fa-chevron-up{
    color: $white;
    font-size: 1rem;
    font-weight: 300;
}

// form
.mx-input{
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0;
    padding-left: 2rem;
}

.mx-datepicker svg {
    display: none;
}