// color cube
$white: #ffff;
$riverBed: #46525f;
$pelorous:#39afbb;
$FrenchGray:#bcbcbd;
$Firefly:#081425;
$Contessa: #bd7a69;
$ThunderBid:#cc201f;

// Median cut
$light: #D1D1D1;
$Gallery: #F7F7F7;
$Raven: #7c858f;

$pelorousVibrant: #3ba5bd;


@mixin baseButton($bgColor){
    height: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    border: none;
    background-color: $bgColor;
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
}

button.blue{
    @include baseButton($pelorous)
}