// color cube
$white: #ffff;
$riverBed: #46525f;
$pelorous:#39afbb;
$FrenchGray:#bcbcbd;
$light: #D1D1D1;
$Gallery: #F7F7F7;




@mixin baseButton($bgColor, $border){
    height: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    border: 2px solid $border;
    background-color: $bgColor;
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
}

button.blue{
    @include baseButton($pelorous, $pelorous)
}

button.transparent{
    @include baseButton(transparent, $white)
}